<div class="p-component p-jc-center my-2">
  <div class="p-grid p-jc-center my-4">
    
    <p-card class="col-10 col-md-8 px-3">
      <ng-template pTemplate="header">
        <h5
          style="
            background-color: var(--surface-100);
            color: var(--surface-600);
            border-bottom: 1px dashed var(--surface-600);
            font-weight: normal;
            border-radius: 4px 4px 0px 0px;
          "
          class="py-3 px-4"
        >
          Welcome to the Potato Sales App
        </h5>
      </ng-template>
      <p-toolbar >
        <div class="p-toolbar-group-left">
            <button pRipple pButton label="New Product" icon="pi pi-plus" [routerLink]="['/new-product']" class="p-button-sm mr-3"></button>
            <button pRipple pButton label="Sales" icon="pi pi-chart-line" [routerLink]="['/sales']" class="p-button-sm"></button>
        </div>
    </p-toolbar>
      <p class="text-justify">
        Quisque libero mi, vestibulum eu porttitor interdum, finibus sed arcu.
        Fusce sit amet nibh eget quam rhoncus laoreet non id felis. Nulla ac
        magna vel arcu tempor viverra. Vestibulum eget facilisis nibh. Curabitur
        tristique turpis eget ante feugiat mollis. Nulla mattis, quam sit amet
        vehicula convallis, augue ligula porttitor arcu, ac semper ipsum nulla
        non mi. Mauris at orci suscipit, hendrerit risus quis, scelerisque
        ligula. Sed bibendum porttitor mauris eget bibendum. Morbi scelerisque,
        metus sit amet tristique imperdiet, ligula turpis facilisis risus,
        sodales semper justo velit in arcu. Proin urna arcu, commodo non
        scelerisque non, hendrerit et dolor.
      </p>
    </p-card>
  </div>
</div>
