<div class="p-grid p-jc-center my-4">
  <p-card class="col-10 col-md-8 px-3">
    <ng-template pTemplate="header">
      <h5
        style="
          background-color: var(--surface-100);
          color: var(--surface-600);
          border-bottom: 1px dashed var(--surface-600);
          font-weight: normal;
          border-radius: 4px 4px 0px 0px;
        "
        class="py-3 px-4"
      >
        Sales Report
      </h5>
    </ng-template>
    <p-table #dt [columns]="cols" [value]="potatoes" sortMode="multiple" styleClass="p-datatable-sm p-datatable-striped" [globalFilterFields]="searchableFields">
      <ng-template pTemplate="caption">
        <div class="d-flex align-items-center py-0">
          <span>Potato Sales</span>
            <span class="p-input-icon-left p-ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal(getSearchValue($event.target), 'contains')" placeholder="Search keyword" />
            </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <!-- let-columns> -->
        <tr>
          <th
            *ngFor="let col of cols"
            [colSpan]="col?.subHeaders ? col?.subHeaders.length : 1"
            [rowSpan]="col?.subHeaders ? 1 : 2"
            [ngClass]="
              col?.subHeaders
                ? 'text-center'
                : !col?.field
                ? 'ps-bg-totals-table'
                : ''
            "
            sortMode="multiple"
            [pSortableColumn]="col?.field"
            [pSortableColumnDisabled]="(!col?.field || col?.subHeaders)?true:false">
            {{ col.header }}
            <p-sortIcon [field]="col?.field" *ngIf="col?.field && !col?.subHeaders"></p-sortIcon>
          </th>
        </tr>
        <tr>
          <ng-template ngFor let-col [ngForOf]="cols">
            <th *ngFor="let subheader of col?.subHeaders" [pSortableColumn]="subheader?.field">
              {{ subheader?.header }} <p-sortIcon [field]="subheader?.field"></p-sortIcon>
            </th>
          </ng-template>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-i let-columns="columns">
        <tr>
          <td
            *ngFor="let col of cols"
            [colSpan]="col?.subHeaders?.length"
            [ngClass]="
              col?.subHeaders
                ? 'm-0 p-0'
                : !col?.field
                ? 'ps-bg-totals-table'
                : ''
            "
          >
            {{
              col?.field || col?.subHeaders
                ? rowData[col?.field]
                : calcTotal(rowData)
            }}
            <table *ngIf="col?.subHeaders">
              <tr>
                <td *ngFor="let subheader of col?.subHeaders" class="p-2">
                  {{ rowData[subheader.field] }}
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </ng-template>
      <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
            <!-- <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button> -->
        </ng-template>
    </p-toolbar>
    </p-table>
  </p-card>
</div>
<p-dialog [(visible)]="potatoDialog" [style]="{width: '50%'}" [modal]="true" styleClass="p-fluid">
  <app-new-product></app-new-product>
</p-dialog>