.ps-bg-totals-table {
  background: var(--teal-50) !important;
}

:host ::ng-deep .p-datatable .p-sortable-column.p-highlight {
  color: var(--teal-600);
}
:host ::ng-deep .p-datatable .p-sortable-column {
  .p-sortable-column-icon {
    &.pi-sort-amount-up-alt,
    &.pi-sort-amount-down {
      color: var(--teal-600);
    }
  }
  .p-sortable-column-badge {
    background: var(--teal-600);
  }
  &.ps-bg-totals-table {
    .p-sortable-column-badge {
      color: #fff;
    }
  }
}
