<div class="p-grid p-jc-center my-4">
  <p-card class="col-10 col-md-8 px-3">
    <ng-template pTemplate="header">
      <h5
        style="
          background-color: var(--surface-100);
          color: var(--surface-600);
          border-bottom: 1px dashed var(--surface-600);
          font-weight: normal;
          border-radius: 4px 4px 0px 0px;
        "
        class="py-3 px-4"
      >
        Add a new Product
      </h5>
    </ng-template>
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-6">
        <label for="productName">Product Name</label>
        <input
          id="productName"
          type="text"
          aria-describedby="productName-error"
          pInputText
          required
          [(ngModel)]="text1"
          maxlength="50"
        />
      </div>
      <div class="p-field p-col-12 p-md-6">
        <label for="productId">Product Id</label>
        <p-inputNumber
          inputId="productId"
          mode="decimal"
          [useGrouping]="false"
          maxLength="13"
          [(ngModel)]="text1"
          [required]="true"
        >
        </p-inputNumber>
      </div>
      <!-- <p-divider class="col-12" ></p-divider> -->
      <div class="p-field p-col-12 p-md-6">
        <label for="city">Product Manager</label>
        <input id="city" type="text" pInputText maxlength="30" />
      </div>
      <div class="p-field p-col-12 p-md-6">
        <label for="salesStartDate">Sales Start Date</label>
        <p-calendar
          [(ngModel)]="date1"
          [showIcon]="true"
          inputId="salesStartDate"
          maxlength="10"
          [required]="true"
        ></p-calendar>
      </div>
      <!-- <p-divider class="col-12"></p-divider> -->
      <div class="d-flex p-col-12 p-jc-end pt-2">
        <button
          pButton
          pRipple
          type="button"
          label="Submit"
          class="p-button-raised p-button-sm mr-2 col-5 col-md-2"
        ></button>
        <button
          pButton
          pRipple
          type="button"
          label="Cancel"
          class="p-button-raised p-button-sm p-button-secondary col-5 col-md-2"
        ></button>
      </div>
    </div>
  </p-card>
</div>
