.ps-logo-title{
    color:#fff;
    background-color:var(--pink-700);
    padding:0rem 0.5rem;
    font-weight:normal;
    font-size:1.5rem;
    border-radius:0.25rem;

    span{
        font-size:1.2rem;
        font-style: italic;
    }
}

:host ::ng-deep .alex.p-menubar .p-menuitem-link-active, :host ::ng-deep .alex.p-menubar .p-menuitem-link:not(.p-disabled):hover{
    color:var(--pink-700);
    .p-menuitem-text{
    color:var(--pink-700);
    }
}