<div
  class="p-grid p-jc-center  vertical-container mt-2 py-4 mb-0"
  style="height: 100vh; background-color: var(--surface-200);"
>
  <div class="card p-col-10" style="height: 500px">
    <h2>Welcome to the Potato Sales application</h2>
    <p-toolbar>
        <div class="p-toolbar-group-left">
            <p-button label="New Product" icon="pi pi-plus-circle" [routerLink]=" ['/new-product'] "></p-button>
            <p-button label="Sales" icon="pi pi-chart-line"></p-button>
        </div>
        
    </p-toolbar>
  </div>
</div>